
<div id="forum-list">
	<ul>
	<% @special_forums.each_pair { |slug,name| %>
		<li><a href="/forums/<%=slug%>"><%=name%></a></li>

	<% } %>
	</ul>
	<ul>
	<% cache("forums", :expires_in => 1.hour) do
		@forums.each do |f| %>
		<li><a href="/forums/<%=f.slug%>"><%=f.name%></a></li>
		<% end  
	end %>
	</ul>
	<ul>
	<% cache("tags_trending_global", :expires_in => 10.minutes) do 
		Tag.trending.take(7).each do |tt| %>
		<li><a href="/tags/<%=tt.tag_text%>">#<%=tt.tag_text%></a></li>
		<% end 
	end %>
	</ul>


</div>

<div id="discussions">
	<h2>Forum: <%=@forum.name%></h2>
	<%
	cache(@forum, :expires_in => 10.minutes) do
		trending_tags = @forum.trending_tags
		if trending_tags.count > 0
			%>
			<p>
				Trending:
				<% trending_tags.each do |tag| %>
					<a href="/forums/@forum.id/tags/<%=tag.tag_text%>">#<%=tag.tag_text%></a> 

				<% end %>
			</p>
		<% end
	end 
debugger
	%>
	<%= will_paginate @discussions, renderer: BootstrapPagination::Rails %>
	<% 
		@discussions.each { |d| %>
		<div class="discussion">
		<h4><%=d.subject%>  <small><i class="fa fa-comment-o"></i> <%=d.reply_count%></small> </h4> 
		<p>
			<i>&ldquo;<%=truncate(d.body, length:120, separator:' ', omission: '...')%>&rdquo;</i><br>
			<span class="text-muted">posted by <%=member_link(d.username)%> <%=time_ago_in_words(d.created_at)%> ago</span>
		</p>
		</div>

	<% } %>
</div>

<p id="notice"><%= notice %></p>

<!--
<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
-->