<% content_for :title, @forum.name %>

<div id="forum-list">
	<%= render "forum_list" %>
</div>

<div id="discussions">
	<h2>Forum: <%=@forum.name%></h2>


	<%
	cache(@forum, :expires_in => 10.minutes) do
		trending_tags = @forum.trending_tags
		if trending_tags.count > 0
			%>
			<p>
				Trending:
				<% trending_tags.each do |tag| %>
					<a href="/forums/@forum.id/tags/<%=tag.tag_text%>">#<%=tag.tag_text%></a>

				<% end %>
			</p>
		<% end
	end
	scope = @discussions

	@these_discussions = scope.paginate(
          page: params[:page],
          total_entries: @forum.active_discussion_count_for_member(current_member),
          per_page: Rails.configuration.forum_threads_per_page
  )
	%>
	<%= will_paginate @these_discussions, inner_window: 2, renderer: BootstrapPagination::Rails %>
	<%= render @these_discussions %>
  <%= will_paginate @these_discussions, inner_window: 2, renderer: BootstrapPagination::Rails %>
</div>

<p id="notice"><%= notice %></p>

<% content_for :page_bottom_script do %>
<script>

</script>
<% end %>