<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @profile_view.member %>
</p>

<p>
  <strong>Member:</strong>
  <%= @profile_view.member %>
</p>

<p>
  <strong>Tally:</strong>
  <%= @profile_view.tally %>
</p>

<%= link_to 'Edit', edit_profile_view_path(@profile_view) %> |
<%= link_to 'Back', profile_views_path %>
