<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @relationship.member %>
</p>

<p>
  <strong>Member:</strong>
  <%= @relationship.member %>
</p>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
